<?xml version="1.0" encoding="UTF-8"?>

<!--Tạo gỗ để đựng hạt đậu  -cấu hình vật để làm việc với SrpingJDBC và chỉ cần tạo kết nối 1 lần duy nhất-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource"
           class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/englishdb"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    
    <!--Cấu hình JDBC Templates để làm việc với SpringJDBC mỗi lần tạo đối tượng dùng bean-->
    <!--Đặt id là gì thì lấy đúng tên để tương tác với Spring-->
    <bean id="t" class="org.springframework.jdbc.core.JdbcTemplate"> 
        <!--ref trỏ về dataSource ở bean đâù-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>


<!--Xong thi nho build lai project-->

